* {
  box-sizing: border-box;
}

html {
  background-size: cover;
}

body {
  background: url(../images/squairy_light.png);
  background-color: #fff;
}

/* Grid */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.grid-container > div {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  justify-content: space-evenly;
}

/* 'TV Guide' */
.tvGuide {
  background: black;
  color: white;
  grid-column: 1 / span 5;
  grid-row: 1;
  display: grid;
}

th {
  font-size: 20px;
  border: 1px solid white;
  padding: 2px 50px 2px 2px;
}

table {
  margin-bottom: 10px;
}

.times {
  grid-row: 1;
  grid-column: 1 / span 5;
}


/* Buttons */
.btns {
  background: black;
  color: white;
  grid-column: 1 / span 5;
  grid-row: 2;
}

.show-btn {
  background-color: black;
  color: white;
  border: 1px solid white;
  text-decoration: none;
  font-size: 15px;
  padding: 5px 45px 5px 5px;
  float: left;
}

/* Gifs */
.gifs {
  grid-column: 1 / 5;
  grid-row: 2;
}

.gifDiv {
  display: inline-block;
  margin: 5px;
  position: relative;
}

.gifDiv p{
  margin-bottom: 15px;
  font-size: 15px;
  width: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.gifImg {
  border: 2px solid black;
  border-radius: 15px;
}

/* Ratings */
.rating {
  background-color: black;
  color: white;
  padding: 5px;
  width: 60px;
  margin: 0 auto;
}

/* Input Form */
.input {
  grid-column: 5;
  grid-row: 2;
}

#showMore,
#add-show {
  background-color: black;
  color: white;
  border: 0px solid white;
  font-size: 20px;
}

#user-show {
  height: 25.2px;
  width: 250px;
  display: block;
  margin: 0 auto;
  padding: 2px;
}

/* Show Info */
.info {
  margin-top: 10px;
  font-size: 15px;
}